.imageSlide {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin-top: -20px;
}

.imageSlide img {
  position: absolute;
  animation: slide 20s infinite;
  opacity: 0;
  width: 100%;
  height: 100%;
}

@keyframes slide {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.imageSlide img:nth-child(1) {
  animation-delay: 0s;
}
.imageSlide img:nth-child(2) {
  animation-delay: 5s;
}
.imageSlide img:nth-child(3) {
  animation-delay: 10s;
}
.imageSlide img:nth-child(4) {
  animation-delay: 15s;
}

#format-image {
  transform: scale(0.2);
  margin-top: -23%;
  margin-bottom: -18%;
}

.cards {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.card {
  height: 400px;
  width: 93%;
  margin: auto;
}

.card {
  height: 400px;
  width: 93%;
  margin: auto;
  margin-top: 30px;
}

.card-title {
  padding-bottom: 25px;
}

.card-description {
  padding: 20px;
}
